*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;

}
body{
    background-image: url(background.jpg);
    background-size: cover;
    color: white;
}
.container{
    width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 75px;
    position: relative;
}
header div{
    font-weight: bold;

    align-content: center;
    text-align: center;
}
header{
    color: #00dd00;
}
header img{
    width: 200px;
}
nav div{
    width: 650px;
    justify-content: center;   
    background-color: #00dd00;
    border-radius: 1px;

    padding: 10px;
    margin: auto;

    align-content: center;
    text-align: center;
}
main .nome-monopattino:before{
    content: "\25A0";
  }
main .nome-monopattino{
      font-weight: bold;
  }
main .distanza:before{
    content: '\21B3';

}
main .stato-carica{
    height: 30px;
}
main .stato-carica.arancio{
    width: 400px;
    background-color: orange;
    
}
main .stato-carica.verde{
    width: 500px;
    background-color: green;
}
main .stato-carica.rosso{
    background-color: red;
    width: 100px;
}